@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@400;700&display=swap");

:root {
  --THEME_COLOR: rgb(76, 184, 148);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Poppins, Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
